@model TicketSystem.ViewModels.LoginViewModel
@{
    Layout = "_Layout";
}
<h3>Entrar</h3>

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<form method="post" class="mt-3" asp-action="Login">
    <div class="mb-3">
        <label class="form-label">E-mail</label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input asp-for="Password" class="form-control" type="password"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check">
        <input asp-for="RememberMe" class="form-check-input" />
        <label class="form-check-label">Lembrar-me</label>
    </div>
    <button class="btn btn-primary">Entrar</button>
</form>
