@{
    Layout = "_Layout";
}
<div class="text-center py-5">
    <h1 class="display-5">Sistema de Tickets</h1>
    <p class="lead">Abra tickets, acompanhe o histórico e converse com a equipe.</p>
    <a class="btn btn-primary btn-lg" href="/Tickets/Create">Abrir ticket</a>
</div>
